body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: black;
}
#video-container {
	margin: 2em auto;
	
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}



iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}



#closed-captions{
	margin-top: 0;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 2.5em;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* ..... */


.voice1 {
	color: red;
	font-weight: 500;
	font-style: normal;
}


.voice2 {
	color: green;
	font-weight: 500;
	font-style: italic;
}

.voice3{
	color: blue;
	font-style: oblique;
	font-weight: lighter;
}

.voice4{
	color: crimson;
	font-style: oblique;
	font-weight: 400;
}



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound0 #video-mask {
	/* box-shadow: 20x 20px 20px rgba(50, 50, 93, 0.2); */
	box-shadow: 5px 10px 10px #888888;
}

.sound1 #video-mask {
	/* box-shadow: 20x 20px 20px rgba(50, 50, 93, 0.2); */
	box-shadow: 5px 10px 10px #ad0707;
}

.sound2 #video-mask {
	/* box-shadow: 20x 20px 20px rgba(50, 50, 93, 0.2); */
	box-shadow: 5px 10px 10px yellow;
}