* {
	box-sizing: border-box;
}

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: black;
}
#video-container {
	/* margin: 2em auto;	 */
	margin: auto;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}


/* ..... */

#closed-captions{
	margin-top: 0;
	position: relative;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	bottom: -1em;
	font-family: "Brenner Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 1.25em;
	background-color: rgba(0, 0, 0, 0.7);
	padding: .5em;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#closed-captions .p6.on {
	font-size: 2em;
	font-weight: 900;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}


#closed-captions .voice1 {
	color: #f5f5f5;
	font-style: normal;
	font-weight: 500;
}


#closed-captions .voice2 {
	font-family: "Brenner Mono";
	font-style: Italic;
	font-weight: 400;
	color: #DEDEDE;
}

#closed-captions .voice3{
	color: rgb(219 124 124);
	font-family: "Brenner Sans";
	font-style: oblique;
	font-weight: lighter;
}

#closed-captions .voice4{
	color: rgb(255, 255, 255);
	font-style: normal;
	font-weight: bolder;
}

#closed-captions .voice5{
	color: #f5f5f5;
	font-weight: 400;
	font-style: normal;
}

#closed-captions .voice6 {
	color: #DEDEDE;
	font-weight: 500;
	font-style: italic;
}


#closed-captions .p44.on{
	font-size: 1.5em;
	font-weight: bold;
}	


.sound0 #video-mask {
	/* box-shadow: rgba(102, 102, 102, 0.8) 0px 7px 29px 0px;	 */
	animation: tril 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes tril {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	  border: 1px solid rgb(243, 243, 243);
	  /* box-shadow: rgba(102, 102, 102, 0.8) -20px 25px 70px -18px, rgba(102, 102, 102, 0.8) 20px -25px 110px -18px; */
	  box-shadow: 0px 0px 12px 15px rgba(102, 102, 102, 0.86);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }


 /* @keyframes pulse {
	100% {
	  transform: scale(1.75);
	  opacity: 0;
	}
} */


.sound1 #video-mask {
	animation: blink 3s ease-out, trillen 1s ease 0s 1 normal forwards;
}

@keyframes blink {
	0% {
	  box-shadow: rgb(255 1 1) 18px 2px 29px, rgb(255 1 1) -12px 0px 29px;	
	  opacity: 0;
	}
	30%{
		opacity: .3;
	}
	50% {
	  opacity: .5;
	}
	70%{
		opacity: .8;
	}
	100% {
	  opacity: 1;
	}
  }

  @keyframes trillen {
	0% {transform: translate(0);}
	10% {transform: translate(-2px, -2px);}
	20% {transform: translate(2px, -2px);}
	30% {transform: translate(-2px, 2px);}
	40% {transform: translate(2px, 2px);}
	50% {transform: translate(-2px, -2px);}
	60% {transform: translate(2px, -2px);}
	70% {transform: translate(-2px, 2px);}
	80% {transform: translate(-2px, -2px);}
	90% {transform: translate(2px, -2px);}
	100% {transform: translate(0);}
}


  
/* background-color: #FF9A8B;
background-image: linear-gradient(152deg, #FF9A8B 0%, #FF6A88 36%, #FF99AC 58%, #ffffff 100%); */

.sound2 #video-mask {
	animation: blinking 1s backwards;
	/* animation: shake .1s ease-gin-out alternate; */
}

@keyframes blinking {
	0% {
	  box-shadow: rgb(69 2 255) 18px 2px 29px, rgb(69 2 255) -12px 0px 29px;	
	}
	100% {
	  box-shadow: rgb(255 1 1) 18px 2px 29px, rgb(255 1 1) -12px 0px 29px;	
	}
  }


/* 
@keyframes shake {
	0% {
	  transform: rotate(-10deg);
	}
	100% {
	  transform: rotate(10deg);
	}
  }
   */

   .sound3 {
	animation: licht 2s ease;
   }

   
@keyframes licht {
	0% {
		background-position: left;
		background:linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(255 1 1) 50%, rgb(0, 0, 0) 90%);	
		background-size: 400%;
	}
	100% {
		background-position: right;
	}
  }


/* mby weg??? */
.voice3.on{
	/* animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite; */
	/* animation: moveright 2s alternate;
    animation-timing-function: ease; */
	animation: move-right 1s ease;

		
  }
  @keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }
  @-webkit-keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }

  @keyframes move-right {
			
	0% {
		transform:translateX(0px);
	}
	100% {
		transform:translateX(50px);
	}
	/* from {
		left: 12em;
	  }
	  to {
		left: 14em;
	  } */
}


    /* .sound4 #video-mask{ 
	border: 4px solid transparent;
	border-image: linear-gradient(to right, red, purple);
	border-image: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 36%, rgba(167,3,36,1) 65%, rgba(255,0,0,1) 100%); 
	border-image-slice: 1;
	animation: pulse 4s forwards;
} */

  .sound4 #video-mask{
	animation: blinkred 1s ease-out;
  }

@keyframes blinkred {
	0% {
	  /* box-shadow: rgb(255, 1, 1) 18px 2px 29px, rgb(255 1 1) -12px 0px 29px;	 */
	  box-shadow: 0px 0px 14px 2px rgba(255,1,1,0.9);	
	  opacity: 0;
	}
	30%{
		opacity: .3;
		box-shadow: 0px 0px 14px 4px rgba(255,1,1,0.9);	
	}
	50% {
	  opacity: .5;
	  box-shadow: 0px 0px 14px 6px rgba(255,1,1,0.9);	
	}
	70%{
		opacity: .8;
		box-shadow: 0px 0px 14px 8px rgba(255,1,1,0.9);	
	}
	100% {
	  opacity: 1;
	  box-shadow: 0px 0px 14px 10px rgba(255,1,1,0.9);	
	}
  }


   .sound5 #video-mask{
	animation: pulse 4s forwards;
   }

   @keyframes pulse {
	0% {
		border: 4px solid transparent;
		border-image: linear-gradient(90deg, rgba(14,0,255,1) 0%);
		border-image-slice: 1;
	}
	45%{
		/* border-image: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 36%); */
	}
	75% {
		/* border-image: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 36%, rgba(167,3,36,1) 65%); */
	}
	100% {
		/* border-image: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 36%, rgba(167,3,36,1) 65%, rgba(255,0,0,1) 100%); */
	}
  }

  .sound6{
	animation: knipperlicht 2s;
  }

  @keyframes knipperlicht {
	0% {
	  background-color: #ffffff;
	  /* border: 4px solid transparent;
	  border-image: linear-gradient(90deg, rgb(255, 255, 255) 0%);
	  border-image-slice: 1; */
	}
	50% {
	  background-color: #a3a9ae;
	}
	100% {
	  background-color: #353535;
	}
  }

  .sound7{
	animation: blinkcell 3s ease-out;
  }
  
@keyframes blinkcell {
	0% {
	  box-shadow: rgb(255, 255, 255) 18px 2px 29px, rgb(255, 255, 255) -12px 0px 29px;	
	  opacity: 0;
	}
	30%{
		opacity: .3;
	}
	50% {
	  opacity: .5;
	}
	70%{
		opacity: .8;
	}
	100% {
	  opacity: 1;
	}
  }

  /* NIET ZEKER OVER */
/* .sound8{
	animation: lichtcell 3s ease;
	animation: lichtcell 5s 1;
	animation-direction: normal;
	
} 

@keyframes lichtcell {
	0% {
		background-position: right;
		background:linear-gradient(90deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
		background-size: 13%;
	}
	25%{
		background:linear-gradient(100deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
	background-size: 13%;
	}
	50%{
		background:linear-gradient(125deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
	background-size: 13%;
	}
	75%{
		background:linear-gradient(150deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
	background-size: 13%;
	}
	100% {
		background-position: left;
		background:linear-gradient(180deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
	}
  } */

  .sound8{
	animation: lichtcell 3s ease;
}

@keyframes lichtcell {
	0% {
		background-position: right;
		background:linear-gradient(90deg, rgb(0, 0, 0) 26%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 79%);	
		background-size: 13%;
	}
	100% {
		background-position: left;
	}
  }

.sound8 #video-mask{
	animation: shakecell 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shakecell {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	  border: 1px solid rgb(243, 243, 243);
	  box-shadow: rgba(102, 102, 102, 0.8) -20px 25px 70px -18px, rgba(102, 102, 102, 0.8) 20px -25px 110px -18px;
	}
	
	20%, 80% {
	  transform: translate3d(1px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-3px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(3px, 0, 0);
	}
  }

  /* hoor een klik geluid zoals foto maken of iets type,	
  dus kan een soort flash wnr elke keer die klikt hoort
  of soort licht in midden zoals die wordt overvraagd en spot heeft */
 

   .sound9{
	color: #fff;
	animation: blink 2.8s linear -1s infinite, redlight 43s ease 1s;
  }


  @keyframes blink {
	0% {
	  opacity: 1;
	}
	49% {
	  opacity: 1;
	}
	51%{
		opacity: 0;
	}
	55%{ 
		opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }

  /* @keyframes redlight {
	0%{background-color: rgb(0, 0, 0);}
	20%{background-color: rgb(37, 7, 7);}
	40%{background-color: rgba(62, 0, 0);}
	60%{background-color: rgb(101, 0, 0);}
	80%{background-color: rgb(120, 0, 0);}
	100%{background-color: rgba(255, 0, 0);}	
} */


@keyframes redlight {
	0%{background-color: #190707;}
	20%{background-color: #310707;}
	40%{background-color: #540404;}
	60%{background-color: #550101;}
	80%{background-color: #6f0101;}
	90%{background-color: #820303;}
	100%{background-color: #9d0000;}
}


  .sound10 #video-mask{
	animation: zoom-in 26s ease-out;
  }

  @keyframes zoom-in{
	0% {transform: scale(1, 1);}
	20% {transform: scale(1.2, 1.2);}
	40% {transform: scale(1.4, 1.4);}
	60% {transform: scale(1.6, 1.6);}
	80% {transform: scale(1.8, 1.8);}
	90% {transform: scale(2, 2);}
	93%{transform: scale(1, 1);}
	100%{transform: scale(1, 1);}
  }

  .sound11,
  .sound12,
  .sound13 {
	color: #fff;
	animation: blink-fast 1s linear, redlight2 4s ease;
	/* animation-delay: 2s; */
  }

   
  @keyframes blink-fast {
	0% {
		opacity: 1;
	  }
	  49% {
		opacity: 1;
	  }
	  51%{
		  opacity: 0;
	  }
	  55%{ 
		  opacity: 1;
	  }
	  100% {
		opacity: 1;
	  }
	}

  @keyframes redlight2 {
	0%{background-color: #9d0000;}
	40%{background-color: #b60000;}
	80%{background-color: #dd0202;}
	100%{background-color: #fe0909;}
}

.sound14{
	animation: clapping 0.9s ease;
}

@keyframes clapping {
	0%{	
		background-color: black;
		background-image: url("ezgif-1-3752ab32ad69.gif");
		background-repeat: no-repeat;
	}
	100%{
		background-color: black;
		background-image: url("ezgif-1-3752ab32ad69.gif");
	}
}


.sound15 {
	/* background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
	background-size: 320px 320px; */
	background-color: black;
	animation: noise 2s ease, slit 1s ease;

  }

  @keyframes noise {
	0%{	background-image: url("sIIwU.gif");	}
	100%{background-image: url("sIIwU.gif");	}
  }
  /* @keyframes noise {
	0% {
		background-image: url("sIIwU.gif");
		opacity: 0.8;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	99% {
		opacity: 0;
		transform: scale(2.2);
	}
	100%{
		background-image: url("sIIwU.gif");
		opacity: 1;
		transform: scale(1, 1);
	}
} */

@keyframes slit {
			
	0% {
		transform:translateZ(-800px) rotateY(90deg);
		opacity:0;
	}
	50% {
		transform:translateZ(-160px) rotateY(87deg);
		opacity:1;
	}
	100% {
		transform:translateZ(0) rotateY(0);
	}
}


.sound17{
	animation: ring .5s ease ;
	/* animation: shake-center 1s ease 0s 1 normal none;*/ 

}

@keyframes ring {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


/* @keyframes shake-center {
			
		0% {
			transform:rotate(0deg);
			transform-origin:50% 50%;
		}
		10% {
			transform:rotate(8deg);
		}
		20% {
			transform:rotate(-10deg);
		}
		30% {
			transform:rotate(10deg);
		}
		40% {
			transform:rotate(-10deg);
		}
		50% {
			transform:rotate(10deg);
		}
		60% {
			transform:rotate(-10deg);
		}
		70% {
			transform:rotate(10deg);
		}
		80% {
			transform:rotate(-8deg);
		}
		90% {
			transform:rotate(8deg);
		}
		100% {
			transform:rotate(0deg);
			transform-origin:50% 50%;
		}
	} */


.sound18{
	color: rgb(0, 0, 0);
	animation: klik 1s linear;
  }

   
  @keyframes klik {
	0% {
		opacity: 1;
	  }
	  47% {
		opacity: 1;
	  }
	  51%{
		  opacity: 0;
	  }
	  55%{ 
		  opacity: 1;
	  }
	  100% {
		opacity: 1;
	  }
	}

	.sound19{
		animation: scan 3s ease;
	}
 
	
 @keyframes scan {
	 0% {
		 background-position: right;
		 background: linear-gradient(90deg, rgb(0, 0, 0) 46%, rgb(42, 145, 236) 50%, rgb(0, 0, 0) 54%);
		 background-size: 100%;
		 background-position: -36em;
	 }
	 100% {
		 background-position: left;
	 }
   }







/* die piep geluid aan einde van sound 9 moet nog bij */
/*

   /* filter: blur(8px);
   -webkit-filter: blur(8px); */


/* feedback

fuck off dik gedrukt en wat licht naar die man die dat zegt
beter te ver gaan en terug dan te voorzichtig te doen

niet beeld versterken maar geluid 
probeer grooter

*/

  /* voortgang gesprek 24/10 feedback : tikje subtiel maken, en font kleuren */
